@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");
/* :root {
  --color1: black;
  --color1-opacity: #00000060;
  --color2: white;
  --heading-color: #e30613;
} */

:root {
  --color1: #545765;
  --color1-opacity: #54576560;
  --color2: white;
  --heading-color: #50c878;
}

html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color2);
  font-family: "Alef";
}

a {
  text-decoration: none;
  color: var(--color2);
}

header {
  height: 82px;
  overflow: visible;
  position: fixed;
  width: 100%;
  background: var(--color1);
  box-shadow: 0 2px 10px var(--color1);
}

header .container {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 280px;
  max-width: 1024px;
}

.center {
  text-align: center;
}

/* .hidden {
  display: none;
} */

#logo-bar {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

#logo-bar img,
#logo-bar a {
  height: 60px;
}

#lang {
  /* text-align: right; */
  font-weight: bold;
  font-size: 15px;
  height: 20px;
}

#menu-butt {
  display: none;
  font-size: 20px;
  background-color: var(--color1);
  letter-spacing: 3px;
  margin-top: 9px;
  text-align: center;
  border: 1px solid var(--color2);
  cursor: pointer;
  height: 20px;
  width: 80px;
  font-weight: bold;
  padding-bottom: 9px;
  padding-left: 3px;
  position: relative;
}

#nav-container {
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  width: auto;
  /* background-color: var(--color1-opacity); */
}

#nav {
  font-variant: small-caps;
  background-color: var(--color1);
  height: 1000px;
  width: 150px;
  /* text-align: right; */
  z-index: 2;
  /* overflow: visible; */
  padding-top: 10px;
}

#nav div {
  width: 120px;
}

.nav-cat-title {
  padding-top: 10px;
  border-bottom: 1px solid var(--color2);
  font-weight: bold;
  margin: 0 20px;
  color: var(--heading-color);
  font-size: 20px;
}

.nav-butt {
  cursor: pointer;
  margin: 0;
  padding: 0 20px;
}

.nav-butt:hover {
  transition: 0.2s;
  background-color: var(--color2);
  color: var(--color1);
}

main {
  background-color: var(--color2);
  color: var(--color1);
}
.menu {
  margin: 55px 150px 0 0;
  padding: 45px 10px 40px 10px;
}

.menu-title {
  color: var(--heading-color);
  border-bottom: 1px solid var(--color1);
  /* padding-bottom: 5px; */
  font-weight: bold;
  font-size: 18px;
}

.menu-description {
  color: var(--color1);
  font-weight: normal;
  margin: 5px 0 5px 0;
  font-style: italic;
  font-size: 15px;
}

.menu-postscriptum {
  padding-top: 30px;
}

.price-description {
  text-align: end;
  color: var(--color1);
  font-size: 12px;
}

.price-description-seshimi {
  font-weight: normal;
}

.type-name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color1);
  font-weight: bold;
  font-style: italic;
  /* font-size: 17px; */
  padding: 10px 0 5px 0;
}

.dish {
  border-bottom: 1px solid var(--color1);
  padding: 5px 0;
}

.one-line {
  border: none;
}

.title-price-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.dish-title {
  display: flex;
  justify-content: flex-start;
}

.dish-description {
  color: var(--color1);
  font-weight: normal;
}

.dish-price {
  min-width: 65px;
  text-align: left;
}

.combi-title .combi-prise {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.margin-top {
  margin-top: 10px;
}

.lunch-title {
  color: var(--heading-color);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.lunch-type {
  margin-top: 15px;
}

.lunch-sushi-type {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0 0px 0;
}

.veg {
  background-image: url(leaf.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12px;
  margin-right: 2px;
  min-width: 16px;
  height: 16px;
}

@media (max-width: 480px) {
  #menu-butt {
    display: block;
  }

  #nav {
    width: 0;
  }

  #nav-container {
    display: none;
    background-color: var(--color1-opacity);
  }

  .menu {
    margin: 65px 0 0 0;
    padding: 25px 10px 40px 10px;
  }
}

@media (max-width: 380px) {
  #logo-bar img,
  #logo-bar a {
    height: 54px;
  }

  header {
    height: 75px;
  }

  #lang {
    height: 13px;
  }

  /* #menu-butt {
    width: 70px;
    font-size: 18px;
  } */

  section {
    margin-top: 35px;
  }
}

@media (max-width: 320px) {
  #logo-bar img,
  #logo-bar a {
    height: 40px;
  }

  header {
    height: 60px;
  }

  #lang {
    height: 13px;
    font-size: 12px;
  }

  #menu-butt {
    width: 60px;
    font-size: 14px;
    height: 11px;
    margin-top: 6px;
  }

  .nav-cat-title {
    padding: 0;
  }

  .menu {
    margin: 65px 0 0 0;
    padding: 5px 10px 40px 10px;
  }
  section {
    margin-top: 30px;
  }
}
