@import url("/vendors/fonts/alef.css");

/* :root {
  --color1: black;
  --color1-opacity: #00000060;
  --color2: white;
  --heading-color: #e30613;
} */

:root {
  --color1: #545765;
  --color1-ligther: #73778a;
  --color1-opacity: #54576560;
  --color2: white;
  --heading-color: #50c878;
  --heading-color-light: #6ad08c;
}

html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color2);
  font-family: "Alef";
}

a {
  text-decoration: none;
  color: var(--color2);
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  background-color: var(--heading-color);
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  width: 80px;
  font-weight: bold;
  padding-bottom: 9px;
  padding-left: 3px;
}
.btn:hover {
  transition: 0.2s;
  background-color: var(--heading-color-light);
}

header {
  height: 82px;
  overflow: visible;
  position: fixed;
  width: 100%;
  background: var(--color1);
  /* box-shadow: 0 2px 10px var(--color1); */
}

header .container {
  padding: 0;
  height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 280px;
  max-width: 1024px;
}

.center {
  text-align: center;
}

/* .hidden {
  display: none;
} */

#logo-bar {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

#logo-bar img,
#logo-bar a {
  height: 60px;
}

#lang {
  /* text-align: right; */
  font-weight: bold;
  font-size: 15px;
  height: 20px;
}

.menu-butt {
  display: none;
  margin-top: 9px;
  position: relative;
  background-color: var(--heading-color);
}

#nav-container {
  display: block;
  transition: 0.5s;
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 133px;
  /* background-color: var(--color1-opacity); */
}

#nav {
  overflow-y: auto;
  font-variant: small-caps;
  background-color: var(--color1);
  height: 100vh;
  width: 150px;
  z-index: 2;
  padding-top: 10px;
}

#nav div {
  width: 110px;
}

nav {
  padding-bottom: 100px;
}

nav a {
}

.nav-cat-title {
  padding-top: 10px;
  border-bottom: 1px solid var(--color2);
  font-weight: bold;
  margin: 0 20px;
  color: var(--heading-color);
  font-size: 20px;
}

.nav-butt {
  cursor: pointer;
  margin: 0;
  padding: 0 20px 0 20px;
  font-size: 18px;
  transition: background-color 0.1s;
}

.nav-butt:hover {
  background-color: var(--color1-ligther);
}

#favorites-btn {
  margin-top: 20px;
}

#favorites-btn i {
  display: inline-block;
  color: var(--heading-color);
}

.favorite-btn-heart-HE {
  margin-right: 5px;
}

.favorite-btn-heart-EN {
  margin-left: 5px;
}

.nav-btn-active {
  background-color: var(--color1-ligther);
}

main {
  background-color: var(--color2);
  color: var(--color1);
}

.pop-up-wrapper {
  display: none;
  background-color: var(--color1-opacity);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  min-width: 200px;
  max-width: 450px;
  /* height: 170px; */
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 150%;
  border-radius: 5px;
}

.pop-up p {
  margin-bottom: 20px;
}

.pop-up i {
  color: var(--heading-color);
}

.ok-btn {
  margin: 0 auto;
}

.menu {
  padding: 45px 10px 40px 10px;
}

.menu-HE {
  margin: 55px 150px 0 0;
}

.menu-EN {
  margin: 55px 0 0 150px;
}

.menu-title {
  color: var(--heading-color);
  border-bottom: 1px solid var(--color1);
  font-weight: bold;
  font-size: 18px;
  /* margin-top: 20px; */
}

.menu-description {
  color: var(--color1);
  font-weight: normal;
  margin: 5px 0 5px 0;
  font-style: italic;
  font-size: 15px;
}

.menu-postscriptum {
  padding-top: 30px;
}

.price-description {
  text-align: end;
  color: var(--color1);
  font-size: 12px;
}

.price-description-seshimi {
  font-weight: normal;
}

.type-name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color1);
  font-weight: bold;
  font-style: italic;
  /* font-size: 17px; */
  padding: 10px 0 5px 0;
  color: var(--heading-color);
}

.dish {
  border-bottom: 1px solid var(--color1);
  padding: 5px 0;
}

.one-line {
  border: none;
}

.title-price-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.dish-title {
  display: flex;
  justify-content: flex-start;
}

.dish-description {
  color: var(--color1);
  font-weight: normal;
}
.dish-description-HE {
  padding-right: 30px;
}
.dish-description-EN {
  padding-left: 30px;
}

.dish-price {
  min-width: 65px;
}
.dish-price-HE {
  text-align: left;
}
.dish-price-EN {
  text-align: right;
}

.combi-title .combi-prise {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.margin-top {
  margin-top: 10px;
}

.lunch-title {
  color: var(--heading-color);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.lunch-type {
  margin-top: 15px;
}

.lunch-sushi-type {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0 0px 0;
}

.veg {
  background-image: url(/resources/css/img/leaf.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12px;
  margin: 0 2px;
  min-width: 16px;
  height: 16px;
}

.favorite {
  display: inline-block;
  color: var(--heading-color);
  font-size: 20px;
  padding-top: 2px;
}
.favorite-EN {
  margin-right: 10px;
}
.favorite-HE {
  margin-left: 10px;
}

.full-menu-btn {
  display: none;
  margin: 0 auto;
  width: 150px;
  margin-top: 20px;
}
