@import url("/vendors/fonts/alef.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

/* :root {
  --green: black;
  --green-opacity: #00000060;
  --black: white;
  --white: #e30613;
} */

/* :root {
  --green: #545765;
  --green-ligther: #73778a;
  --green-opacity: #54576560;
  --black: white;
  --white: #50c878;
  --white-light: #6ad08c;
  --special-color: #e74c3c;
} */

:root {
  --green: #577C69;
  --green-ligther: #81a793;
  --green-opacity: #577C6960;
  --black: black;
  --white: whitesmoke;
  /* --white-light: #6ad08c; */
  --special-color: #e74c3c;
}

html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--white);
  font-family: "Alef";
}

textarea {
  font-family: "Alef";
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  margin: 0;
  padding: 0;
}

label {
  color: var(--black);
  font-weight: bold;
}

header {
  height: 82px;
  overflow: visible;
  position: fixed;
  width: 100%;
  background: var(--green);
  z-index: 9999;
  /* box-shadow: 0 2px 10px var(--green); */
}

header .container {
  padding: 0;
  height: 0;
}

.btn {
  color: var(--white);
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  /* background-color: var(--white); */
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  /* width: 80px; */
  font-weight: bold;
  padding-bottom: 9px;
  padding-left: 3px;
}
.btn:hover {
  transition: 0.2s;
  /* background-color: var(--white-light); */
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 280px;
  max-width: 1024px;
}

#logo-bar {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

#logo-bar img,
#logo-bar a {
  height: 60px;
}

#lang {
  /* text-align: right; */
  font-weight: bold;
  font-size: 15px;
  height: 20px;
}

.menu-butt {
  display: none;
  margin-top: 9px;
  position: relative;
  /* background-color: var(--white); */
  width: 110px;
}
.menu-butt i {
  position: relative;
  top: 2px;
}

#nav-container {
  display: block;
  transition: 0.5s;
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 133px;
  /* background-color: var(--green-opacity); */
}

#nav {
  overflow-y: auto;
  font-variant: small-caps;
  background-color: var(--green);
  height: 100vh;
  width: 150px;
  z-index: 2;
  padding-top: 10px;
}

#nav div {
  width: 110px;
}

nav {
  padding-bottom: 200px;
}

.nav-cat-title {
  padding-top: 10px;
  border-bottom: 1px solid var(--white);
  font-weight: bold;
  margin: 0 20px;
  color: var(--white);
  font-size: 20px;
}

.nav-butt {
  cursor: pointer;
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  transition: background-color 0.1s;
}

.nav-butt:hover {
  background-color: var(--green-ligther);
}

.margin-top {
  margin-top: 20px;
}

#favorites-btn i {
  display: inline-block;
  color: var(--white);
}

.favorite-btn-heart-HE {
  margin-right: 5px;
}

.favorite-btn-heart-EN {
  margin-left: 5px;
}

.nav-btn-active {
  background-color: var(--green-ligther);
}

.pop-up-wrapper {
  display: none;
  background-color: var(--green-opacity);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  min-width: 200px;
  max-width: 450px;
  /* height: 170px; */
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 150%;
  border-radius: 5px;
}

.pop-up p {
  margin-bottom: 20px;
}

.pop-up i {
  color: var(--green);
}

.ok-btn {
  margin: 0 auto;
}

/* LOADING ROLL */
.spin-wrapper {
  display: none;
  background-color: var(--green-opacity);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.roll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50%;
  height: 100%;
}

.roll-container img,
.pop-up-container img {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu {
  padding: 55px 10px 40px 10px;
}

.menu-HE {
  margin: 45px 150px 0 0;
}

.menu-EN {
  margin: 45px 0 0 150px;
}

.menu-title {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.menu-title:first-child {
  margin-top: 0;
}

.menu-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;
  max-height: 250px;
  overflow: hidden;
}

.menu-img {
  max-width: 100%;
  margin: 0 auto;
}

.menu-description {
  color: var(--black);
  font-weight: normal;
  margin: 5px 0 5px 0;
  font-style: italic;
  font-size: 15px;
}

.menu-postscriptum {
  padding-top: 30px;
}

.price-description {
  text-align: end;
  color: var(--green);
  font-size: 12px;
}

.price-description-seshimi {
  font-weight: normal;
}

.type-name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  font-weight: bold;
  font-style: italic;
  /* font-size: 17px; */
  padding: 10px 0 5px 0;
  color: var(--green);
}

.dish {
  border-bottom: 1px solid var(--green);
  padding: 5px 0;
}

.one-line {
  border: none;
}

.title-price-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.dish-title {
  display: flex;
  justify-content: flex-start;
}

.dish-description {
  color: var(--black);
  font-weight: normal;
}
.dish-description-HE {
  padding-right: 30px;
}
.dish-description-EN {
  padding-left: 30px;
}

.dish-price {
  min-width: 65px;
}
.dish-price-HE {
  text-align: left;
}
.dish-price-EN {
  text-align: right;
}

.combi-title {
  color: var(--green);
}

.combi-title .combi-prise {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.margin-top {
  margin-top: 10px;
}

.lunch-title {
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.lunch-type {
  margin-top: 15px;
}

.lunch-sushi-type {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0 0px 0;
  color: var(--green);
}

.veg {
  background-image: url(/resources/css/img/leaf.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12px;
  margin: 0 2px;
  min-width: 16px;
  height: 16px;
}

.favorite {
  display: inline-block;
  color: var(--green);
  font-size: 20px;
  padding-top: 2px;
}
.favorite-EN {
  margin-right: 10px;
}
.favorite-HE {
  margin-left: 10px;
}

.full-menu-btn {
  display: none;
  margin: 0 auto;
  width: 150px;
  margin-top: 20px;
  color: var(--green);
  text-decoration: underline;
}

.special-sign {
  color: var(--special-color);
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
}

/* ADMIN */
.admin-buttons {
  font-size: 20px;
  margin: 0 5px;
}

.toggle-dish,
.edit {
  cursor: pointer;
}

.fa-toggle-on {
  color: #50c878;
}

.fa-toggle-off {
  color: red;
}

.admin-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--green);
  color: var(--white);
}

.admin-bar-conteiner {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.create-dish {
  margin-right: 150px;
}

.admin-btn {
  border: 1px solid white;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.specials-config-btns {
  padding-right: 30px;
}

.specials-config-btn {
  font-size: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.label-checkbox {
  font-weight: normal;
  color: black;
}

.formButtonsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.formButtonsContainer button {
  width: 30%;
  font-size: 20px;
}

/* #dish-props-container {
  background-color: var(--green-opacity);
}

.dish-prop-icon {
  height: 10px;
  width: 10px;
  color: #041bb5;
} */

/* STRAITH CLASSES */
.opacity-0 {
  opacity: 0;
}

.font-weight-normal {
  font-weight: 300;
}

.hidden {
  display: none;
}

.text-align-center {
  text-align: center;
}
/* / */
